<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="${package}.${moduleName}.dao.${className}Dao">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="${package}.${moduleName}.domain.${className}" id="BaseResultMap">
#foreach($column in $columns)
        <result property="${column.attrname}" column="${column.columnName}" jdbcType="${column.dataType}"/>
#end
    </resultMap>
    
  <sql id="Base_Column_List" >
        ${baseColumnList} 
  </sql>

	<select id="selectOneByObject" resultMap="BaseResultMap" parameterType="${package}.${moduleName}.domain.${className}">
		select 
		<include refid="Base_Column_List" />
		 from ${tableName}
		 <where>
#foreach($column in $columns)
		 <if test="$column.attrname != null">
        	and ${column.columnName} = #{${column.attrname},jdbcType=${column.dataType}}
	  </if>
#end
         </where>
	</select>

	<select id="selectListByObject" resultMap="BaseResultMap" parameterType="${package}.${moduleName}.domain.${className}" >
		select 
		<include refid="Base_Column_List" />
		 from ${tableName}
		 <where>
#foreach($column in $columns)
         <if test="$column.attrname != null">
        	and ${column.columnName} = #{${column.attrname},jdbcType=${column.dataType}}
         </if>
#end
         </where>
	</select>
	 
	<insert id="insert" parameterType="${package}.${moduleName}.domain.${className}"#if($pk.extra == 'auto_increment') useGeneratedKeys="true" keyProperty="$pk.attrname"#end>
		insert into ${tableName}
		<trim prefix="(" suffix=")" suffixOverrides="," >
#foreach($column in $columns)
			<if test="$column.attrname != null">
        	    ${column.columnName} ,
	    </if>
#end
		</trim>
    	<trim prefix="values (" suffix=")" suffixOverrides="," >
#foreach($column in $columns)
    	    <if test="$column.attrname != null">
        	   #{${column.attrname},jdbcType=${column.dataType}} ,
        </if>
#end
    	</trim>
	</insert>
	 
	<update id="update" parameterType="${package}.${moduleName}.domain.${className}">
		update ${tableName} 
		<set>
#foreach($column in $columns)
			<if test="$column.attrname != null">
        	 ${column.columnName} = #{${column.attrname},jdbcType=${column.dataType}} ,
       </if>
#end
		</set>
		${updateWhere}
	</update>
</mapper>