package ${package}.${moduleName}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import com.alibaba.dubbo.config.annotation.Service;

import java.util.List;
import java.util.Map;

import ${package}.${moduleName}.dao.${className}Dao;
import ${package}.${moduleName}.entity.${className};
import ${package}.${moduleName}.service.${className}Service;


/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service()
public class ${className}ServiceImpl implements ${className}Service {

	@Autowired
	private ${className}Dao ${classname}Dao;
	
	@Override
	public ${className} selectOneByObject(${className} ${classname}){
		return ${classname}Dao.selectOneByObject(${classname});
	}
	
	@Override
	public List<${className}> selectListByObject(${className} ${classname}){
		return ${classname}Dao.selectListByObject(${classname});
	}
		
	@Override
	public void insert(${className} ${classname}){
		${classname}Dao.insert(${classname});
	}
	
	@Override
	public void update(${className} ${classname}){
		${classname}Dao.update(${classname});
	}
	
}
